/* body */
/*
body {
  background-color: aliceblue;
}

.container {
  background-color: aliceblue;
  max-width: 1500px;
  margin: 0 auto;
  margin: 0 auto;
}


/* images */
/*
#lightgallery {
  text-align: center;
}

#lightgallery img {
  margin: 0 auto;
  padding: 2%;
}

#lightgallery li {
  display: inline-block;
  padding: 0%;
  width: 20%;
  list-style-type: none;
}

a {
  text-decoration: none;
}



